/* #app {
   max-width: 850px; 
  margin: 0 auto;
} */

/* nav {
  padding: 20px 0 20px 0;
} */

.shadow {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.inline-style {
  display: inline;
}

.inlint-block-style {
  display: inline-block;
}

.margin-login {
  margin: 30px 100px;
}